body {
    background-image: url('https://thumbs.dreamstime.com/z/alimentos-saludables-en-el-coraz%C3%B3n-y-la-barra-de-progreso-carga-con-mensaje-saludable-pizarra-concepto-dieta-comida-sana-sano-217065598.jpg');
    background-size: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    text-shadow: 0 , 3px ,12px, 2px rgb(0 0 0 /9%);
}

.titulo {
    font-size: 18px;
    font-family: Late, sans-serif;
    font-weight: 700;
    display: flex;
    text-align: center;
    justify-content: center;
}